@import "tailwindcss";

@theme {
  --color-quranic: #00563F;
  --color-gold: #D4AF37;
  --color-ivory: #FDFDF5;
  --color-navy: #0A1F44;
  
  --font-arabic: "Tajawal", sans-serif;
  --font-latin: "Inter", sans-serif;
}
